/* Content */
.content h1,h2{
    text-align: center;
}
/* Product */
.product{
    display: flex;
    margin: 10px;
    justify-content: center;
    padding: 10px;
    gap: 30px
}
.product div button{
    background-color: #f3a805;
    color: white;
    border: none;
    padding: 8px 12px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 8px;
    cursor: pointer;
}
.product div button:hover{
    background-color: green;
    transform: scale(1.2);
}
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background: white;
    transition: transform 0.4s ease-in-out;
    height: 350px; /* Chiều cao cố định cho mỗi product item */
    width: 400px;
    display: flex;
    flex-direction: column;
}
.product-item:hover {
    border: 1px solid green;
    transform: translateY(15px);
    box-shadow: 0 15px 15px rgba(0,0,0,0.1);
}
.product-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}
.product-item h3 {
    margin: 10px 0;
    color: #333;
}
.price {
    color: #e44d26;
    font-weight: bold;
    font-size: 1.1em;
    margin: 10px 0;
}

